
.carousel-container{
  width: 99.1vw !important;
  margin: 0 !important;
  margin-left: -7.5px !important;
}
.carousel-control-next {
  right: -40vw !important;
}
.carousel-img{
width: 100vw !important;
height: 90vh !important;
}
.products-list{
  margin-top: 50px;
}
.product-card{
  margin-bottom: 30px;
}
.cart-title{
  margin-top: 80px;
  margin-bottom: 50px;
  padding-left: 25vw !important;  
}


@media (max-height : 900px) {
  .carousel-control-next {
    right: -18vw !important;
  }
  .cart-title {
    padding-left: 35vw !important;  

  }
}
@media (max-width : 1080px) {
  .carousel-container{
    width: 100vw !important;
    margin: 0 !important;
    margin-left: -7.5px !important;
  }
  .carousel-img{
    width: 100% !important;
    height: auto !important;
    }
    .carousel-control-next {
      right: -1vw !important;
    }
}