
.carousel-container{
  width: 100vw !important;
  margin: 0 !important;
  margin-left: -7.5px !important;
}
.carousel-control-next {
  right: -40vw !important;
}
.carousel-img{
width: 100% !important;
height: 90vh !important;
}

@media (max-height : 900px) {
  .carousel-control-next {
    right: -18vw !important;
  }
}
@media (max-width : 1080px) {
  .carousel-img{
    width: 100% !important;
    height: auto !important;
    }
}